/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 7, 2016, 10:20:05 AM
    Author     : Joey
*/

form{
    padding-bottom: 20px;
}
body{
    background-color: #c4c4c4;
}
#button{
    width: 225px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.button{
    width: 200px;
    padding-bottom: 20px;
    padding-top: 20px;
}
#header {
    width:100%;
    height:10%;
}
#central {
    width:100%;
    height:90%;
}
#central th, #central td{
    border: 1px solid gray;
}
h1 {
    text-align: center;
    padding-bottom: 20px;
}
h2 {
    text-align: center;
    padding-bottom: 15px;
}
table {
    border-collapse: collapse;
}
div.fixed {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 320px;
    height: 50px;
}
div.updatePricingFixedCenter{
    position: fixed;
    bottom: 10px;
    width: 10%;
    left: 45%;
    right: 45%;
    text-align: center;
}
div.previewChangesFixedCenter{
    position: fixed;
    bottom: 10px;
    width: 40%;
    left: 30%;
    right: 30%;
    text-align: center;
}
div.fixedCenter{
    position: fixed;
    bottom: 10px;
    width: 10%;
    left: 45%;
    right: 45%;
    text-align: center;
}
#fullBookHeader{
    position: absolute;
    top: 50px;
    left: 15px;
    width: 100%;
    height: 15%;
}
#fullBookCentral{
    margin-top: 300px;
    width:275%;
    height:60%;
}
#backAndHome {
    width: 160px;
    padding-bottom: 10px;
    padding-top: 10px;
} 
table.highlightRows tbody tr:hover{
    background: black;
    color: white;
}
.fullBookTable .selected, .fullBookTable .selected tbody {
    background: black;
    color: white;
}
table.oddRowColor tr:nth-child(even){
    background-color: rgba(50,200,200,.5);
}
#column1 {
    text-align: right;
    font-weight: bolder;
}
input.readonly {
    background-color: transparent;
    text-align: center;
    border: 0px;
}
div.fixedUpperRight {
    position: absolute;
    top: 5%;
    right: 10%
}
#header-fixed { 
    position: fixed; 
    top: 0px; 
    display:none;
    background-color: #c4c4c4;
}
#constrainer2 {
    width:100%;
    overflow-x: scroll;
}
#constrainer2 table {
    overflow-x: scroll;
    width:300%;
}
#constrainer2 tbody {
    overflow-y: scroll;
    display: block;
    height: 200px;
    width:100.25%;
}
#constrainer2 thead {
    display: table-row;
    width:100%;
}
#constrainer2 th, #constrainer2 td {
    width: 2.32%;
    border: 1px solid gray;
}
.accountsDueTotalRow{
    background-color: rgba(50,200,200,.5);
}


